<h1>Kapitel 6 Konfidensintervall</h1>

In [3]:
#importera paket och exempeldata 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scs 
from scipy.stats import t
from scipy.stats import norm
from statsmodels.stats import proportion
    
Customers, Major, Gig = None, None, None
with pd.ExcelFile("Kap1.xlsx") as reader:
        Customers=pd.read_excel(reader, sheet_name='Customers')
        Major=pd.read_excel(reader, sheet_name='Major')
        Gig=pd.read_excel(reader, sheet_name='Gig')

In [4]:
Gig.head()

,EmployeeID,Wage,Industry,Job,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1,32.81,Construction,Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,46.00,Automotive,Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,43.13,Construction,Sales Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,48.09,Automotive,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,43.62,Automotive,Accountant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Konstruera ett 95% KI för medellönen bland "Construction-arbetare" som också är "Sales Rep"

Eftersom $$\sigma$$ är okänd ska vi använda $${\bar x}\pm t_{\alpha/2}\frac{s}{\sqrt{n}}$$

In [5]:
till_ki=Gig[Gig['Industry'].isin(['Construction']) & Gig['Job'].isin(['Sales Rep'])][['Wage']]

<h3>Med tidigare kända funktioner</h3>

In [6]:
undre_gräns=np.mean(till_ki['Wage'])-t.ppf(0.975,len(till_ki['Wage'])-1)*np.std(till_ki['Wage'],ddof=1)/np.sqrt(len(till_ki['Wage']))

övre_gräns=np.mean(till_ki['Wage'])+t.ppf(0.975,len(till_ki['Wage'])-1)*np.std(till_ki['Wage'],ddof=1)/np.sqrt(len(till_ki['Wage']))

In [7]:
undre_gräns,övre_gräns

(36.01643188002887, 39.648814021610484)

<h3>Med KI-funktion från Scipy.Stats</h3>

In [8]:
t.interval(alpha=0.95, df=len(till_ki['Wage'])-1, loc=np.mean(till_ki['Wage']), scale=scs.sem(till_ki['Wage']))

(36.01643188002887, 39.648814021610484)

<h3>Konstruera ett 95% KI för andelen "Construction-arbetare"</h3>

In [9]:
Gig['Construction indicator']=(Gig['Industry'].isin(['Construction']))

In [10]:
Gig.head()

,EmployeeID,Wage,Industry,Job,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Construction indicator
0,1,32.81,Construction,Analyst,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,2,46.00,Automotive,Engineer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,3,43.13,Construction,Sales Rep,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,4,48.09,Automotive,Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,5,43.62,Automotive,Accountant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

<h3>Med kända funktioner</h3>

In [11]:
p_bar=np.sum(Gig['Construction indicator'])/len(Gig['Construction indicator'])

n=len(Gig['Construction indicator'])

p_bar

0.6059602649006622

In [12]:
undre_gräns=p_bar-norm.ppf(0.975)*np.sqrt(p_bar*(1-p_bar)/n)

övre_gräns=p_bar+norm.ppf(0.975)*np.sqrt(p_bar*(1-p_bar)/n)

undre_gräns,övre_gräns

(0.566991045691682, 0.6449294841096425)

<h3>Med Statsmodels</h3>

In [13]:
proportion.proportion_confint(np.sum(Gig['Construction indicator']),len(Gig['Construction indicator']),alpha=0.05,method='normal')

(0.566991045691682, 0.6449294841096425)